<div class="container mx-auto">
    <div class="flex justify-between items-center pt-16 pb-8 border-b border-fuchsia-600">
        <div class="flex items-center">
            <a rel="nofollow" data-method="get" href="/"><img class="h-61" src="/assets/logo.png" /></a>
            <h1 class="ml-4 text-sm">FILE UPLOADER</h1>
        </div>
        <div class="flex items-center">
            <% if user_signed_in? %>
                <p class="text-gray-500"><%= current_user.email %></p>
                <%= image_tag user_avatar(current_user, 100), class: "ml-4 h-10 w-10 object-cover rounded-full" %>
                <a rel="nofollow" data-method="delete" href="<%= destroy_user_session_path %>">
                    <img class="ml-12" src="/assets/logout.svg" />
                </a>
            <% else %>
                <a title="Sign In" href="<%= new_user_session_path %>">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
                    </svg>
                </a>    
            <% end %>
        </div>
    </div>
</div>